services:
  - type: web
    plan: free
    runtime: image
    name: n8n-service
    image:
      url: docker.io/n8nio/n8n:latest

    envVars:
      - key: N8N_ENCRYPTION_KEY
        generateValue: true

      # Use Aiven Postgres instead of SQLite
      - key: DB_TYPE
        value: postgresdb
        
      - key: DB_POSTGRESDB_HOST
        sync: false
        
      - key: DB_POSTGRESDB_PORT
        sync: false
        
      - key: DB_POSTGRESDB_DATABASE
        sync: false
        
      - key: DB_POSTGRESDB_USER
        sync: false
        
      - key: DB_POSTGRESDB_PASSWORD
        sync: false 
        
      - key: DB_POSTGRESDB_SSL
        value: "true"

      - key: AIVEN_CA_PEM_B64
        sync: false
        
      - key: DB_POSTGRESDB_SSL_CA
        value: /etc/secrets/ca.pem   # we'll mount this secret file
        
   startCommand: mkdir -p /etc/secrets && echo $AIVEN_CA_PEM_B64 | base64 -d > /etc/secrets/ca.pem && n8n
